<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Tareas</title>
    <link rel="stylesheet" href="../Statics/styles/tareas.css">
</head>
<body>
    <h1> Lista de tareas </h1>
    <section id="botones">
        <div id="grupoBotones">
            <button class="Boton" id="agregar">Mostrar Menú de Tareas</button>
            <button class="Boton" id="tarjeta">Mostrar Menú de Tarjetas</button>
            <button class="Boton" id="quitar">Quitar Tarea</button>
            <button class="Boton" id="vaciar">Vaciar Lista</button>
        </div>
        <div class = "Menu" id="listaTareas" style="display: none;">
            <h1 class="titMenu">Menú de Tareas</h1>
            <button class="Boton btnTarea" id="limpiar">Limpiar mi cuarto</button>
            <button class="Boton btnTarea" id="estudiar">Estudiar para mi examen</button>
            <button class="Boton btnTarea" id="mate">Tarea de mate</button>
            <button class="Boton btnTarea" id="leer">Leer 10 páginas de un libro</button>
            <button class="Boton btnTarea" id="repasar">Repasar apuntes</button>
        </div>

        <div class = "Menu" id="listaTarjetas" style="display: none;">
            <h1 class="titMenu">Menú de Tarjetas</h1>
            <button class="Boton btnTarea" id="amogus">Amogus</button>
            <button class="Boton btnTarea" id="teorema">Teorema de Pitágoras</button>
            <button class="Boton btnTarea" id="tux">Te Amamos Tux</button>
            <button class="Boton btnTarea" id="circ">Círculo Cromático</button>
            <button class="Boton btnTarea" id="mru">Fórmula del MRU</button>
        </div>
    </section>
    <hr>
    <section id="contenedor">
       
    </section>
    <script src="../Dynamics/tareas.js"></script>
</body>
</html>